{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div id="app"class="container">
    <h1>Configuration du module JCA Location Devis</h1>
  </div>
{% endblock %} 

{% block javascripts %}
  <script>
    // JavaScript spécifique au module peut être ajouté ici
  </script>
{% endblock %}

